<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faculties</title>
    <link rel="stylesheet" href="../../../styles.css"/>
    <script src="../../../script.js" defer="defer"></script>
    <script type="module" src="student-view.js" defer="defer"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>Simple University</h1>
    </header>

    <nav>
        <ul>
            <li><a href="../../../index.html">Home</a></li>
            <li><a href="../../faculties/list/faculties-list.html">Faculties</a></li>
        </ul>
    </nav>

    <section class="main-section">
        <article class="text--justified">
            <header><h2>Student</h2></header>
            <section>
                <h3>Details</h3>
                <div class="details-grid">
                    <label for="name">Name:</label><span id="name">name</span>
                    <label for="surname">Surname:</label><span id="surname">dean</span>
                    <label for="indexNumber">Index number:</label><span id="indexNumber">dean</span>
                    <label for="fieldOfStudies">Field of studies:</label><span id="fieldOfStudies">0</span>
                    <label for="faculty">Faculty:</label><span id="faculty">0</span>
                </div>
            </section>
        </article>
    </section>

    <footer class="footer">
        <p>Copyright &copy; 2020, Rafał Kulik</p>
    </footer>
</div>
</body>
</html>
